# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: [self-hosted, vm, debian-12]

    steps:
      - name: Checkout code with two commits
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          sudo apt-get update
          sudo apt-get dist-upgrade -y
          sudo apt-get install -y -q tox

      - name: Lint with flake8
        run: |
          tox -eflake8

  test:
    runs-on: [self-hosted, vm, debian-12]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          sudo apt-get update
          sudo apt-get dist-upgrade -y
          sudo apt-get install -y -q tox

      - name: Run unit tests
        run: |
          tox -epy3
